.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo
*.log

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
Packages/
packages/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/test/UnityTest/Library
/test/UnityTest/Temp
/.vs
.idea/
.DS_Store
.vs/

test/UnityTest/UnityTest\.sln\.DotSettings\.user
