.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo
*.log

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
Packages/
packages/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/test/UnityTest/Library
/test/UnityTest/Temp
/.vs
.idea/
.DS_Store
.vs/

*.DotSettings.user
test/UnityTest/Assets/Box2D/Collision
test/UnityTest/Assets/Box2D/Common
test/UnityTest/Assets/Box2D/Dynamics
test/UnityTest/Assets/Box2D/*.meta
src/**/*.meta


/test/UnityTest/Assets/Plugins/Editor/JetBrains
